/* Start Variable */
:root {
    --main-color: #111110;
    /* --main-color: #0D0D0D; */
    --secondary-color: #8c7c54;
    /* --secondary-color: #D9B959; */
    --secondary-color: rgb(131,58,180);
	/* --secondary-color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
}
/* End Variable */
/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #eaeff2;;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo img {
    height: 90px;
    padding-top: 5px;
}
header .container .header-contact ul {
    display: flex;
}
header .container .header-contact ul li:nth-child(1){
    margin-right: 90px;
}
header .container .header-contact ul li i {
    font-size: 28px;
    color: var(--secondary-color);
    margin-right: 20px;
}
header .container .header-contact ul li a {
    font-size: 18px;
    color: var(--main-color);
    font-weight: bold;
}
header nav {
    background-color: var(--secondary-color);
    height: 60px;
    width: 100vw;
}
header nav .container ul {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .container ul li a {
    font-size: 21px;
    color: var(--main-color);
    font-weight: bold;
}

.slider{
	position: relative;
	width: 100%;
	background: #2c3e50;
}
.myslide{
	height: 535px;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.3s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: var(--secondary-color);
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: var(--secondary-color);
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}


/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
}
/* /5 */
/* End Header */
/* Start Message */
.message {
	width: 100vw;
	height: 500px;
	background-color: #f2f1ee;
	display: flex;
}
@media (max-width: 1199px) {
	.message {
		flex-direction: column;
		height: auto;
	}
}
.message-left {
	width: 55vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (max-width: 1199px) {
	.message-left{
		width: 100vw;
	}
}
.message-left h3 {
	font-size: 35px;
	font-weight: bold;
	color: #111110;
	margin-top: 30px;
	margin-bottom: 40px;
}
.message-left p {
	font-size: 20px;
	padding: 15px 50px;
	line-height: 1.5;
}
.message-left a {
	background-color: var(--secondary-color);
	padding: 20px;
	border-radius: 15px;
	color: #fff;
	font-size: 18px;
	margin-top: 30px;
}
.message-right {
	width: 40vw;
	height: 100%;
}
@media (max-width: 1199px) {
	.message-right{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}
}
/* End Message */
/* Start Products */
.product-header {
	background-color: var(--secondary-color);
	width: 100vw;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product-header h3 {
	font-size: 30px;
	letter-spacing: 2px;
	color: #fff;
}
.product-body {
	width: 100vw;
	height: auto;
}
.product-cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.product-cards .card {
	width: 28%;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid var(--secondary-color);
	border-radius: 15px;
	margin-top: 30px;
}
@media (max-width: 1199px) {
	.product-cards .card {
		width: 40%;
	}
}
@media (max-width: 769px) {
	.product-cards .card {
		width: 70%;
	}
}
.product-cards .card img {
	width: 100%;
	height: 250px;
	border-radius: 15px;
}
.product-cards .card h4 {
	margin-top: 10px;
	font-size: 22px;
	letter-spacing: 1px;
	font-weight: bold;
}
.product-cards .card p {
	font-size: 16px;
	margin-top: 20px;
	padding: 10px 15px;
	line-height: 24px;
}
.product-cards .card a {
	padding: 20px;
	border-radius: 15px;
	font-size: 18px;
	color: #fff;
	margin-top: 20px;
	background-color: var(--secondary-color);
}
/* Start Products */
/* Start Footer */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	margin-top: 30px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.aboutus{
    width: 40%;
}

footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: var(--secondary-color);
}

footer p{
    color: #999;
}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover{
    background: var(--secondary-color);
}

.sci li a .fa{
    color: #fff;
    font-size: 20px;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #fff;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: #999;
}

.contact .info li a{
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover{
    color: #fff;
}

.copyrightText{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
.copyrightText span {
	color: var(--secondary-color);
}

@media (max-width: 1100px){
    footer{
        padding: 40px;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .quickLinks,
    .contact{
        width: 100%;
    }
    .copyrightText{
        padding: 8px 40px;
    }
}
/* End Footer */